<!--Page Title-->
<section
  class="page-title centred"
  style="
    background-image: url(../../../assets/images/background/events-banner.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <h1>Our Events</h1>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/home">Home</a></li>
        <li>Events</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- event-page-section -->
<section class="event-page-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 event-block">
        <div
          class="event-block-one wow fadeInLeft"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a
                ><img
                  class="img-fluid"
                  src="../../../assets/images/events/christmas_day.png"
                  alt=""
              /></a>
            </figure>
            <div class="content-box">
              <div class="date">Dec, 2018</div>
              <h3>
                <a>Christmas Day Celebration .</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 event-block">
        <div
          class="event-block-one wow fadeInRight"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a
                ><img
                  class="img-fluid"
                  src="../../../assets/images/events/farm_day.png"
                  alt=""
              /></a>
            </figure>
            <div class="content-box">
              <div class="date">Jan, 2019</div>
              <h3><a>Farm Day.</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 event-block mt-5">
        <div
          class="event-block-one wow fadeInLeft"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a
                ><img
                  class="img-fluid"
                  src="../../../assets/images/events/halloween.png"
                  alt=""
              /></a>
            </figure>
            <div class="content-box">
              <div class="date">Oct, 2021</div>
              <h3><a>Halloween Party.</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 event-block mt-5">
        <div
          class="event-block-one wow fadeInRight"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a
                ><img
                  class="img-fluid"
                  src="../../../assets/images/events/national_park.png"
                  alt=""
              /></a>
            </figure>
            <div class="content-box">
              <div class="date">Oct, 2018</div>
              <h3>
                <a> A visit to Kanheri Caves and National park</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 event-block mt-5">
        <div
          class="event-block-one wow fadeInLeft"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a
                ><img
                  class="img-fluid"
                  src="../../../assets/images/events/Nursery_Visit.png"
                  alt=""
              /></a>
            </figure>
            <div class="content-box">
              <div class="date">Nov, 2019</div>
              <h3><a></a>Nursery Visit</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 event-block mt-5">
        <div
          class="event-block-one wow fadeInRight"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a
                ><img
                  class="img-fluid"
                  src="../../../assets/images/events/republic_day.png"
                  alt=""
              /></a>
            </figure>
            <div class="content-box">
              <div class="date">Jan, 2019</div>
              <h3><a>Republic Day Celebration</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- event-page-section end -->
