<!--Page Title-->
<section
  class="page-title centred"
  style="
    background-image: url(../../../../assets/images/background/teacher-service-banner.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <h1>Teachers</h1>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/home">Home</a></li>
        <li>Teachers</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- class-details -->
<section class="class-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 content-side">
        <div class="class-details-content">
          <div class="inner-box">
            <div class="upper-content">
              <div class="sec-title style-two">
                <h5>Requirements</h5>
                <h1>Teachers</h1>
              </div>
              <div class="bold-text">
                Looking for Experienced, Enthusiastic and Talented Teachers all
                across India!!! THE LEARNING HUB is helping students with
                HOMESCHOOLING and we are hiring teachers who are comfortable to
                visit our students at their home and teach them to learn and
                grow. Great rewarding opportunity with flexible hours. Meet our
                learners, be a part of a great team and have a giggle.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- class-details end -->

<!-- Contact - Us -->
<section class="contact-form-section sec-pad">
  <div class="anim-icon">
    <div class="icon icon-1 float-bob-y"></div>
  </div>
  <div class="container">
    <div class="sec-title centred">
      <h5>Have a Query?</h5>
      <h1>Leave a Message</h1>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2 form-column">
        <div class="contact-form">
          <form
            [formGroup]="teacherForm"
            (ngSubmit)="onSubmit()"
            id="contact-form"
            class="default-form"
          >
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input
                  type="text"
                  name="username"
                  placeholder="Your Name*"
                  required
                  formControlName="name"
                />
                <div
                  class=""
                  *ngIf="Name.invalid && (Name.dirty || Name.touched)"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="Name.errors.required"
                    >Field is required</small
                  >
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email*"
                  required
                  formControlName="email"
                />
                <div
                  class=""
                  *ngIf="Email.invalid && (Email.dirty || Email.touched)"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="Email.errors.required"
                    >Field is required</small
                  >
                  <small
                    class="form-text text-danger"
                    *ngIf="Email.errors.email"
                    >Invalid E-mail format</small
                  >
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input
                  type="text"
                  name="phone"
                  placeholder="Contact No*"
                  required
                  formControlName="phoneNo"
                />
                <div
                  class=""
                  *ngIf="PhoneNo.invalid && (PhoneNo.dirty || PhoneNo.touched)"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="TeachingExp.errors.required"
                    >Field is required</small
                  >
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input
                  type="text"
                  name="experience"
                  placeholder="Teaching Experience*"
                  required
                  formControlName="teachingExp"
                />
                <div
                  class=""
                  *ngIf="
                    TeachingExp.invalid &&
                    (TeachingExp.dirty || TeachingExp.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="TeachingExp.errors.required"
                    >Field is required</small
                  >
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <textarea
                  name="message"
                  placeholder="Write here message"
                  formControlName="message"
                ></textarea>
              </div>

              <div class="col-12 form-group mb-5">
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                  *ngIf="isValid"
                >
                  Please fill all the fields marked as *.
                  <button
                    type="button"
                    class="close"
                    (click)="onClose(1)"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                  *ngIf="isError"
                >
                  Internal Server Error
                  <button
                    type="button"
                    class="close"
                    (click)="onClose(2)"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div
                  class="alert alert-success alert-dismissible fade show"
                  role="alert"
                  *ngIf="isSuccess"
                >
                  Thank You! for contacting at THE LEARNING HUB, soon our expert
                  will get in touch with you.
                  <button
                    type="button"
                    class="close"
                    (click)="onClose(3)"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>

              <app-loader
                class="col-lg-12 col-md-12 col-sm-12 centred"
                *ngIf="isReload"
              ></app-loader>

              <div
                class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred"
              >
                <button
                  *ngIf="!isReload"
                  type="submit"
                  class="theme-btn"
                  name="submit-form"
                >
                  Submit Now
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact - Us end -->
