<!--Page Title-->
<section
  class="page-title centred"
  style="background-image: url(../../../assets/images/background/policy.jpg)"
>
  <div class="container">
    <div class="content-box">
      <h1>Policies</h1>
      <ul class="bread-crumb clearfix">
        <li routerLink="/home"><a>Home</a></li>
        <li>Refund & cancellation</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- about-section -->
<section class="about-section style-two">
  <div class="container">
    <div class="row">
      <div class="col-12 content-column">
        <div class="content-box">
          <div class="sec-title style-two">
            <h5>Refund & cancellation</h5>
          </div>

          <div class="text">
            <p>
              <strong>Disclaimer</strong>: Please read and edit the Refund &
              Cancellation Policy given below as per your /website’s
              requirement. Don’t use or apply these as is basis on your website.
            </p>
            <h4><strong>Cancellation Policy</strong></h4>
            <p>For Cancellations please contact the us via contact us link.</p>
            <p>
              Requests received later than 15 business days prior to the end of
              the current service period will be treated as cancellation of
              services for the next service period.
            </p>
            <h4><strong>Refund Policy</strong></h4>
            <p>
              We will try our best to create the suitable design concepts for
              our clients.
            </p>
            <p>
              In case any client is not completely satisfied with our products
              we can provide a refund.
            </p>
            <p>
              If paid by credit card, refunds will be issued to the original
              credit card provided at the time of purchase and in case of
              payment gateway name payments refund will be made to the same
              account.
            </p>
          </div>
          <div routerLink="/contact-us" class="btn-box">
            <a class="theme-btn">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-section end -->
