<footer class="main-footer">
  <div class="footer-top">
    <div class="parallax-scene parallax-scene-2 parallax-icon">
      <span
        data-depth="0.40"
        class="parallax-layer icon icon-1"
        style="
          transform: translate3d(-30.1px, -22.2px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: relative;
          display: block;
          left: 0px;
          top: 0px;
        "
      ></span>
      <span
        data-depth="0.50"
        style="
          transform: translate3d(-37.6px, -27.7px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: absolute;
          display: block;
          left: 0px;
          top: 0px;
        "
        class="parallax-layer icon icon-2"
      ></span>
      <span
        data-depth="0.30"
        style="
          transform: translate3d(-22.6px, -16.6px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: absolute;
          display: block;
          left: 0px;
          top: 0px;
        "
        class="parallax-layer icon icon-3"
      ></span>
      <span
        data-depth="0.40"
        style="
          transform: translate3d(-30.1px, -22.2px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: absolute;
          display: block;
          left: 0px;
          top: 0px;
        "
        class="parallax-layer icon icon-4"
      ></span>
      <span
        data-depth="0.50"
        style="
          transform: translate3d(-37.6px, -27.7px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: absolute;
          display: block;
          left: 0px;
          top: 0px;
        "
        class="parallax-layer icon icon-5"
      ></span>
      <span
        data-depth="0.30"
        style="
          transform: translate3d(-22.6px, -16.6px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: absolute;
          display: block;
          left: 0px;
          top: 0px;
        "
        class="parallax-layer icon icon-6"
      ></span>
      <span
        data-depth="0.40"
        style="
          transform: translate3d(-30.1px, -22.2px, 0px) !important;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          position: absolute;
          display: block;
          left: 0px;
          top: 0px;
        "
        class="parallax-layer icon icon-7"
      ></span>
    </div>
    <div class="container">
      <div class="widget-section">
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-sm-12 footer-column"
            style="padding-right: 0px !important; padding-left: 8px !important"
          >
            <div class="about-widget footer-widget">
              <h3 class="widget-title">About THE LEARNING HUB</h3>
              <div class="widget-content">
                <div class="text">
                  <p>
                    THE LEARNING HUB has always focused on learning with a
                    difference. We believe in giving Multi Dimensional Learning
                    for all age groups. It has earned its name already in the
                    heart of many souls, not only from Mumbai but from far too.
                    We have worked with learners on all kinds of platforms viz.
                    Traditional schooling, online and also on Homeschooling. We
                    aim to remain an Outstanding learning Institute where the
                    learners enjoy learning and achieve highly developed life
                    skills for their life long learning.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="link-widget footer-widget">
              <h3 class="widget-title">Useful Link</h3>
              <div class="widget-content">
                <ul>
                  <li routerLink="/home"><a>Home</a></li>
                  <li routerLink="/about-us"><a>About us</a></li>
                  <li routerLink="/services"><a>Services</a></li>
                  <li routerLink="/events"><a>Events</a></li>
                  <li routerLink="/faq"><a>FAQs</a></li>
                  <li routerLink="/contact-us"><a>Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="contact-widget footer-widget">
              <h3 class="widget-title">Get in Touch</h3>
              <div class="widget-content">
                <div class="text">
                  Search our FAQs for answer to anything you might be wondering
                </div>
                <ul class="info-list">
                  <li>
                    <i class="fas fa-home"></i>Lilac CHS, JangidEnclave, Mira
                    Road
                  </li>
                  <li>
                    <i class="fas fa-phone"></i
                    ><a href="tel:97680 75234">+91 97680 75234</a>
                    /
                    <a href="tel:91368 92346">+91 91368 92346</a>
                  </li>
                  <li>
                    <i class="fas fa-envelope"></i
                    ><a href="mailto:info@thelearninghub.org.in"
                      >info@thelearninghub.org.in</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="subscribe-widget footer-widget">
              <h3 class="widget-title">Contact Now</h3>
              <div class="widget-content">
                <div class="text">
                  Need Something? Our expert are here to help!
                </div>

                <a routerLink="/contact-us" class="theme-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="inner-container clearfix">
        <div class="left-content pull-left">
          <div class="copyright">
            Designed And Developed By
            <a> Vivek Yadav</a>
          </div>
        </div>
        <div class="right-content pull-right">
          <figure class="footer-logo">
            <a routerLink="/home"
              ><img src="../../../assets/images/footer-logo.png" alt=""
            /></a>
          </figure>
          <ul class="social-style-one footer-social clearfix">
            <li>
              <a
                href="https://instagram.com/thelearninghub_miraroad?r=nametag"
                target="_blank"
                ><i class="fab fa-instagram fa-2x mt-1"></i
              ></a>
            </li>

            <li>
              <a
                href="https://www.facebook.com/thelearninghub.tlh"
                target="_blank"
                ><i class="fab fa-facebook-f fa-2x mt-1"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
