<!--Page Title-->
<section
  class="page-title centred"
  style="
    background-image: url(../../../assets/images/background/page-title.jpg);
  "
>
  <div class="container">
    <div class="content-box">
      <h1>FAQs</h1>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/home">Home</a></li>
        <li>FAQs</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- class-details -->
<section class="class-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 col-sm-12 content-side">
        <div class="class-details-content">
          <div class="inner-box">
            <div class="upper-content" id="about-faq">
              <div class="sec-title style-two">
                <h5>FAQs</h5>
                <h3>ABOUT THE LEARNING HUB</h3>
              </div>
            </div>
            <div class="lower-content">
              <ol class="faq-ol">
                <li class="faq-ques-li">
                  <h3 class="faq-question">
                    Is “THE LEARNING HUB” recognised/affiliated?
                  </h3>
                  <ul class="list">
                    <li>Yes, it is a Government Recognised Institute .</li>
                    <li>
                      THE LEARNING HUB’s Homeschooling offers personalized
                      learning anywhere across India with personal attention
                      from our Efficient, Qualified, Experienced and Trained
                      Teachers in the safest environment at your home.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>
                    Will THE LEARNING HUB provide the Marksheet and Transfer
                    Certificate?
                  </h3>
                  <ul class="list">
                    <li>
                      Yes, we will provide the Marksheet and Transfer
                      Certificate at the end of the year.
                    </li>
                    <li>
                      TC will be issued only at the end of the year on
                      completion of one year and not in the middle of the
                      academic year.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>What is “THE LEARNING HUB”?</h3>
                  <ul class="list">
                    <li>
                      Its the HUB where Learners meet professional trainers and
                      gain knowledge through personalized training.
                    </li>
                    <li>
                      THE LEARNING HUB’s Homeschooling offers personalized
                      learning anywhere across India with personal attention
                      from our Efficient, Qualified, Experienced and Trained
                      Teachers in the safest environment at your home.
                    </li>
                    <li>
                      We provide many course :
                      <ol>
                        <li>
                          Homeschooling for Playgroup
                          <ol>
                            <li>Nursery</li>
                            <li>Jr. Learners</li>
                            <li>Sr. Learners</li>
                          </ol>
                        </li>
                        <li>Coding for kids</li>
                        <li>Advanced E.C.C.Ed.</li>
                      </ol>
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>
                    If I continue with THE LEARNING HUB’s Homeschooling, should
                    I still send my child to a physical school?
                  </h3>
                  <ul class="list">
                    <li>
                      At THE LEARNING HUB’s Homeschooling programme, we create a
                      school- like experience at the comfort of your own home.
                      It meets the needs of the physical school.
                    </li>
                    <li>
                      We offer our Most Innovative and Learning Curriculum for
                      the overall development of your child. It is equipped to
                      teach one-on-one sessions or for a small group of
                      children. All our Teachers are Trained and Committed to
                      provide the best learning experience.
                    </li>
                    <li>
                      While the world is advancing, why should the educational
                      system not be? THE LEARNING HUB offers an innovative
                      curriculum to keep our students up to date as compared to
                      traditional schools that follow the same curriculum for
                      ages.
                    </li>
                    <li>
                      Learning is an ongoing process which is why our
                      homeschooling sessions will continue even when the
                      physical schools cannot function.
                    </li>
                    <li>
                      Physical school has its own merits and demerits; it may
                      not be suitable for everyone.
                    </li>
                    <li>
                      Before you choose to decide, we encourage you to read,
                      watch, question, discuss and deeply consider whether
                      joining our Enhanced Learning System will make a
                      difference for your family or not? We hope that the FAQs
                      help you make the right decision.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>
                    Is THE LEARNING HUB’s Homeschooling suitable for all
                    Learners?
                  </h3>
                  <ul class="list">
                    <li>
                      It is suitable for learners and parents that require
                      flexible learning or personalized learning at your own
                      home.
                    </li>
                    <li>
                      THE LEARNING HUB’s Homeschooling is best platform for the
                      following learners:
                      <ol>
                        <li>
                          Advanced or Gifted learners who want to excel or learn
                          deeper and wider.
                        </li>
                        <li>
                          Homeschooler Parents who are looking for structural
                          learning for their children.
                        </li>
                        <li>
                          Learners undergoing professional training in music,
                          art, sports and similar activities and require
                          flexibility in learning hours.
                        </li>
                        <li>
                          Learner whose parents work in transferable jobs that
                          often require a change of schools.
                        </li>
                        <li>
                          Learners who are good at academics and want to reach
                          their highest potential need.
                        </li>
                        <li>
                          No more worrying about the hygiene/ sanitation and
                          health safety of your child or pandemic. We at THE
                          LEARNING HUB make it a priority to ensure that all our
                          Teachers are FULLY VACCINATED!! So you can be STRESS
                          FREE. We adhere to all health and safety protocols,
                          regular COVID Tests, temperature checks and wearing
                          masks.
                        </li>
                        <li>Children requiring Mid-Term admissions.</li>
                        <li>
                          Parents who are looking for an alternative to online
                          schooling as many Learners face the issue of Concept
                          clearance.
                        </li>
                        <li>
                          Parents looking for a quality education and not
                          exorbitant fees with low quality of teachers or a poor
                          experience of Learning.
                        </li>
                      </ol>
                    </li>
                  </ul>
                </li>

                <li class="faq-ques-li">
                  <h3>Is “THE LEARNING HUB” recognised/affiliated?</h3>
                  <ul class="list">
                    <li>
                      THE LEARNING HUB has always focused on Learning with
                      Difference.
                    </li>
                    <li>
                      Our Homeschooling programme provides structured,
                      progressive and personalized learning for our Learners
                      using the most Innovative and Learning Curriculum which is
                      meticulously curated keeping in mind the different kinds
                      of learners.
                    </li>
                    <li>
                      The Data analytics, anecdotal notes and immediate feedback
                      aids learning and understanding, both for Teachers and
                      Learners.
                    </li>
                    <li>
                      The cost of high-quality homeschooling is a fraction of
                      the cost of regular education.
                    </li>
                    <li>
                      Our staff is more efficient, less expensive and offers
                      higher value.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>Some points to consider are :</h3>
                  <ul class="list">
                    <li>
                      SELECTION OF TEACHERS - We at THE LEARNING HUB, have a
                      rigorous method of selecting our Teachers as we understand
                      the most common concerns of every parent be it the safety
                      of a child or personal attention that traditional schools
                      lack to provide. Therefore we conduct various tests
                      including behavioral, child-handling, capabilities,
                      background etc. in selecting the Ideal teacher so that we
                      keep up to the standards of THE LEARNING HUB!!
                    </li>
                    <li>No Transport, Uniforms and Dining expenses.</li>
                    <li>
                      Every learner of THE LEARNING HUB learns and grows in the
                      safest environment of his own home.
                    </li>
                    <li>
                      Our most Innovative and Learning curriculum goes beyond
                      the four walls of your home. Inculcating good manners,
                      real life lessons and Learning life skills to be future
                      smart.
                    </li>
                    <li>
                      Every learner of THE LEARNING HUB learns and grows in the
                      safest environment of his own home.
                    </li>
                    <li>
                      Here we focus on subjects at hand. We inculcate values and
                      ensure the importance of self study, reading books and
                      being curious, contrary to a child who finds escape routes
                      to avoid homeworks and tests.
                    </li>
                    <li>
                      We do have regular tests to evaluate every learner, to
                      help them cross every milestone and make them a SUCCESSFUL
                      LIFELONG LEARNER.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>
                    Is THE LEARNING HUB’s Homeschooling open for everyone
                    irrespective of their religion, caste, creed or ethnicity?
                  </h3>
                  <ul class="list">
                    <li>
                      Yes, at THE LEARNING HUB we are unbiased and do not
                      discriminate learners regardless of caste, creed or
                      religion. We are currently enrolling learners from remote
                      cities of India.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>Is this an Indian Organisation?</h3>
                  <ul class="list">
                    <li>
                      Yes, this is an Indian Organization with an International
                      Mindedness.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>Who are the Founders of THE LEARNING HUB?</h3>
                  <ul class="list">
                    <li>Mrs. Heena Ubaid</li>
                    <li>Mr. Mohammad Ubaid</li>
                    <li>
                      You may read more about them by
                      <a href="">clicking here.</a>
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>What is the purpose of THE LEARNING HUB?</h3>
                  <ul class="list">
                    <li>
                      Not all Learners are raised alike and not all learn the
                      same way. Hence, we at THE LEARNING HUB tap the unseen
                      potential of your child through Homeschooling. We offer
                      face to face personal training and ensure their growth and
                      development for a better future.
                    </li>
                    <li>
                      THE LEARNING HUB has always focused on Learning with
                      Difference. We have worked with our Learners at
                      Traditional Schooling, online mode and also in
                      Homeschooling programme. We have realized that
                      Homeschooling works the best with any Learner.
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
            <hr />

            <div class="upper-content" id="academic-faq">
              <div class="sec-title style-two">
                <h3>ABOUT ACADEMICS</h3>
              </div>
            </div>

            <div class="lower-content">
              <ol class="faq-ol">
                <li class="faq-ques-li">
                  <h3 class="faq-question">
                    Is there a basis for the promotion of learners to next grade
                    at the end of the academic year?
                  </h3>
                  <ul class="list">
                    <li>
                      Yes, we do follow a similar pattern with regards to the
                      promotion of the Learners. We conduct term-end
                      assessments. However, unlike other schools, our assessment
                      will provide us with feedback and also facilities in
                      taking up classes for concepts that are not well
                      understood. The assessment pattern will be different and
                      will emphasize on the application of concepts rather than
                      memorizing it.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>What about inter-class or inter-school competitions?</h3>
                  <ul class="list">
                    <li>
                      We would use the online as well as offline medium to
                      conduct Inter-class and Inter-school competitions.
                      Meanwhile, the school will make the announcements along
                      with the details for Games, Debates, Quis, Fancy-dress,
                      Art & Craft, Music Concerts and many more.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>How will my child learn to read books?</h3>
                  <ul class="list">
                    <li>
                      We recommend parents to buy age-appropriate books as a
                      part of their home library. We do have Reader’s workshop
                      with our teachers to enhance self reading.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>How will Homeschooling teach discipline?</h3>
                  <ul class="list">
                    <li>
                      Discipline comes from both Parents and Teacher who
                      inculcate values with the help of storytelling, counseling
                      and the active learning and positive reinforcements.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>What is the medium of instruction?</h3>
                  <ul class="list">
                    <li>
                      The medium of instruction is going to be English unless
                      the subject requires another medium of instruction.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>Will there be PTMs?</h3>
                  <ul class="list">
                    <li>
                      Yes, PTMs will be held bimonthly on a One-to one basis.
                    </li>
                  </ul>
                </li>
              </ol>
            </div>

            <hr />

            <div class="upper-content" id="enrollment-faq">
              <div class="sec-title style-two">
                <h3>ENROLLMENT</h3>
              </div>
            </div>

            <div class="lower-content">
              <ol class="faq-ol">
                <li class="faq-ques-li">
                  <h3 class="faq-question">Is the fee refundable?</h3>
                  <ul class="list">
                    <li>
                      Parents will need to pay the fee in advance as per the
                      schedule. Unfortunately the fee is non-refundable.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>How can I pay the fees?</h3>
                  <ul class="list">
                    <li>
                      All fees can be paid online on our website through net
                      banking, credit card, debit cards and approved wallets.
                      Depending on your bank, you may also avail EMI option at
                      the time of fee payment. We do not accept cash, cheque or
                      demand draft.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>How can i enroll my child?</h3>
                  <ul class="list">
                    <li>
                      Enrollment to THE LEARNING HUB is a simple process.Please
                      click here to enroll your child.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>
                    I have twins. Do I need to enroll each child separately ?
                  </h3>
                  <ul class="list">
                    <li>
                      Yes, each child must enroll into THE LEARNING HUB’s
                      courses individually just as you would do in a physical
                      school.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>
                    Will i get admissions in a traditional school after one year
                    of home-schooling?
                  </h3>
                  <ul class="list">
                    <li>
                      Current laws, including the Right to Education
                      Act,requires schools to enroll students as per the age of
                      the child upto Grade 8. Schools cannot refuse admission to
                      a home-schooled child. However , this is subject to
                      availability of seats in the school.
                    </li>
                  </ul>
                </li>
                <li class="faq-ques-li">
                  <h3>What is Homeschooling?</h3>
                  <ul class="list">
                    <li>
                      Home-schooling or Home Education is a term used for
                      students who undergo their schooling from home or a
                      variety of other places other than a School. Parents, home
                      tutor or online tutor usually deliver the education
                      program to students. Home Schools are popular with parents
                      who are not satisfied with neighborhood schools, or desire
                      to have greater control and involvement in the learning
                      process of their children.
                    </li>
                    <li>
                      However, most of the parents are both working nowadays. It
                      becomes difficult to homeschool your child by yourself. It
                      offers significant advantages for students - it is
                      flexible, offers a variety of learning experience, ensures
                      greater engagement and personalized attention. However,
                      the most considerable disadvantage is that it can be
                      mostly unstructured. THE LEARNING HUB provides structure
                      to home-schooling along with the other benefits that the
                      system offers. In short it is most reliable.
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        class="col-lg-2 px-1 bg-dark position-fixed"
        id="sticky-sidebar"
      ></div> -->
    </div>
  </div>
</section>
<!-- class-details end -->
